<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>Contact made</title>
</head>

<body>
    
    <div class="container">
        <h1 style="display: flex;justify-content: center;margin-bottom: 50px;">Contact info</h1>
        <ul>
            <% Contacts.forEach(contact=> { %>
                <li style="margin-bottom: 20px;"> name: <%= contact.name %> <br>
                    email: <%= contact.email %> <br>
                    message: <%= contact.message %> <br>
                    date: <%= contact.date  %> 
                                <% }) %>
                </li>
        </ul>
        <button><a href="/">Home</a></button>
    </div>
</body>

</html>