


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');





.container {
	background-color: rgb(36, 34, 34);
	border-radius: 5px;
  	box-shadow: 0 5px 15px rgb(51, 50, 50), 
			0 5px 5px rgb(34, 33, 33);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 80%;
	min-height: 480px;
  min-width: 350px;
}


.form-container {
  display:flex;
  
}

.left-container {
  flex:1;
  height:480px;
  background-color:#42a6e0;
}
.right-container {
  display:flex;
  flex: 1;
  height:460px;
  background-color: rgb(36, 34, 34);
  justify-content:center;
  align-items:center;
}

.left-container {
  display:flex;
  flex:1;
  height:480px;
  justify-content:center;
  align-items:center;
    color:#242222;
}

.left-container p {
  font-size:0.9rem;
}

.right-inner-container {
  width:70%;
  height:auto;
  text-align:center;
}

.left-inner-container {
  height:50%;
  width:80%;
  text-align:center;
  line-height:22px;
}

input, textarea {
	background-color: #eee;
    border-radius: 0.5rem;
	border: none;
	padding: 12px 15px;
	margin: 5px 0;
	width: 100%;
    font-size:0.8rem;
}

/* input:focus, textarea:focus{
  outline:1px solid #42a6e0;
  border-radius: 0.5rem;
} */

button {
	border-radius: 20px;
	border: 1px solid #00b4cf;
	background-color: #00b4cf;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor:pointer;
  margin-bottom: 15px;
}

button:hover {
  opacity:0.7;
}
@media only screen and (max-width: 600px) {
  .left-container{
    display: none;
  }
  .lg-view {
    display:none;  
  }
  .right-container{
    width: auto;
    
  }
  

}

@media only screen and (min-width: 600px) {
  .sm-view {
    display:none;  
  }
}

form p {
  text-align:left;
}