body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  background: rgb(10, 10, 10);
  -webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}


.spacer {
  
  height: 100vh;
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  color: rgb(240, 241, 255);
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: wrap;
  
}
.construction{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;

}
.education{
  text-align: center;
}



@media only screen and (max-width: 600px) {
body{
  font-size: 3.2vw;
}

}

h1{
  text-shadow:  4px 4px 10px #272424,
  -4px -4px 10px #3a3636;
}


.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.wrap-in{
  height: 2px;
  overflow: hidden;
  background-color: #42a6e0;
  width: 80vw;
  border-radius: 15px;
  /* overflow: scroll; */
  text-decoration-color:rgb(240, 241, 255) ;
}
.wrap-arrow:hover{
  cursor: pointer;
}
li{
  padding: 20px;
}

.wrap-arrow{
  transform: rotate(0deg);
  width: 50px;
  height: 50px;
  background-color: rgb(240, 241, 255);
  clip-path: polygon(100% 25%, 50% 75%, 0 25%, 0 25%, 50% 65%, 100% 25%);
  
}

.sm:hover{
  cursor: pointer;
}



a:link {
  color: rgb(240, 241, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}